<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/utils/element.css">
<!-- 引入组件库 -->
    <script src="/static/utils/vue.js"></script>
<script src="/static/utils/element.js"></script>
    <script src="/static/utils/axios.js"></script>
</head>
<body>

<form action="/upload/" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="上传">
</form>
</body>
</html>
